<h1>Dashboard</h1>
<!-- Analyses -->
<div class="analyse">
  <div class="sales">
    <div class="status">
      <div class="info">
        <h3>Total Shipments</h3>
        <h1><%= @shipments.count %></h1>
      </div>
      <div class="shipment-summary">
          <span class="material-icons-sharp" style="font-size: 50px;">
          local_shipping
          </span>
      </div>
    </div>
  </div>
  <div class="visits">
    <div class="status">
      <div class="info">
        <h3>Available Drivers</h3>
        <h1>-</h1>
      </div>
      <div class="progresss">
        <span class="material-icons-sharp" style="font-size: 50px;">
          person
        </span>
      </div>
    </div>
  </div>
  <div class="searches">
    <div class="status">
      <div class="info">
        <h3>-</h3>
        <h1>-</h1>
      </div>
      <div class="progresss">
        -
      </div>
    </div>
  </div>
</div>
<!-- End of Analyses -->

<!-- Recent Orders Table -->
<div class="recent-orders">
  <h2>Recent Shipments</h2>
  <table>
    <thead>
    <tr>
      <th>Shipment ID</th>
      <th>Date</th>
      <th>Vehicle</th>
      <th>Driver</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @shipments.each do |shipment| %>
    <tr>
      <td><%= link_to shipment.id, shipment_path(shipment.id) %></td>
      <td><%= shipment.shipment_date %></td>
      <td><%= shipment.vehicle.name %></td>
      <td><%= shipment.driver.name %></td>
      <td><%= shipment.status %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<!-- End of Recent Orders -->