<div class="recent-orders">
  <h2>Shipments</h2>
  <div style="width: 15%;">
    <a href="<%= new_fms_g16_shipment_path %>" class="button" style="color: white;">Create Shipment</a>
  </div>
  <table>
    <thead>
    <tr>
      <th>Shipments ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Vehicle</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @shipments.each do |shipment| %>
    <tr>
      <td><%= link_to shipment.id, fms_g16_shipment_path(shipment.id) %></td>
      <td><%= shipment.start_date %></td>
      <td><%= shipment.end_date %></td>
      <td><%= shipment.vehicle %></td>
      <td><%= shipment.status %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>