<div class="recent-orders">
  <h2>Warehouse</h2>
  <div style="width: 15%;">
    <a href="<%= new_warehouse_path %>" class="button" style="color: white;">Create Warehouse</a>
  </div>
  <table>
    <thead>
    <tr>
      <th>Warehouse</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Capacity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @warehouses.each do |warehouse| %>
    <tr>
      <td><%= link_to warehouse.id, warehouse_path(warehouse.id) %></td>
      <td><%= warehouse.address %></td>
      <td><%= warehouse.latitude %></td>
      <td><%= warehouse.longitude %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>