<%= form_with(model: fms_g16_load) do |form| %>
  <% if fms_g16_load.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fms_g16_load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
        <% fms_g16_load.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="order_form">
    <div class="row">
      <div class="order_details">
        <h2>Load Details</h2>
        <%= form.label :"Load Name"%>
        <%= form.text_field :name, class:"input-field" %>
        <%= form.label :"Route" %>
        <%= form.collection_select :fms_g16_route_id, @fms_g16_routes, :id, :name, {}, { class: 'input-field' }  %>
        <%= form.label :"Shipment" %>
        <%= form.collection_select :fms_g16_shipment_id, @fms_g16_shipments, :id, :id, {}, { class: 'input-field' }  %>
        <%= form.label :"Total Price" %>
        <%= form.text_field :total_price, class: 'input-field' %>
        <%= form.label :"Total Fee" %>
        <%= form.text_field :total_fee, class: 'input-field' %>
        <%= form.label :"Total Weight" %>
        <%= form.text_field :total_weight, class: 'input-field' %>

        <br>
        <br>
        <%= form.submit "Save load", class:"button" %>
      </div>
    </div>
    <div class="row">
      <%= link_to "Show this load", @fms_g16_load %>
      <%= link_to "Back to warehouses", dashboard_loads_page_path %>
    </div>
  </div>

<% end %>