<p style="color: green"><%= notice %></p>
<div class="order_form">
  <h1>Load ID: <%= @fms_g16_load.id %></h1>
  <div class="row">
    <div class="order_details">
      <h4>Load Details</h4>
      <h3>Shipment ID:<strong><%= @fms_g16_load.fms_g16_shipment_id %></strong></h3>
      <h3>Route: <strong><%=  @fms_g16_load.fms_g16_route_id %></strong></h3>
      <h3>Total Price: <strong><%= @fms_g16_load.total_price %></strong></h3>
      <h3>Total Fee: <strong><%= @fms_g16_load.total_fee %></strong></h3>
      <h3>Total Weight: <strong><%= @fms_g16_load.total_weight %></strong></h3>
      <br>
    </div>
  </div>

  <%= render @fms_g16_load %>
  <div class="row">
    <%= link_to "Edit this load", edit_fms_g16_load_path(@fms_g16_load), class:"button"%>
    <%= link_to "Back to loads", dashboard_loads_page_path, class:"button" %>
    <%= button_to "Destroy this load", @fms_g16_load, method: :delete, class:"button" %>
  </div>

</div>
<div class="loads-table">
  <h2>Orders</h2>
  <table>
    <thead>
    <tr>
      <th>Order Name</th>
      <th>Item</th>
      <th>Price</th>
      <th>Free</th>
      <th>Dimension</th>
      <th>From</th>
      <th>To</th>
    </tr>
    </thead>
    <tbody>
    <% @fms_g16_orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.item %></td>
        <td><%= order.price %></td>
        <td><%= order.free %></td>
        <td><%= order.dimension %></td>
        <td><%= order.LocationFrom %></td>
        <td><%= order.LocationTo %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>