<%= form_with(model: fms_g16_route) do |form| %>
  <% if fms_g16_route.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fms_g16_route.errors.count, "error") %> prohibited this fms_g16_route from being saved:</h2>

      <ul>
        <% fms_g16_route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="order_form">
    <div class="row">
      <div class="order_details">
        <h2>Route Details</h2>
        <%= form.label :"Route Name"%>
        <%= form.text_field :name, class:"input-field" %>
        <%= form.label :"Origin Location"%>
        <%= form.text_field :origin_location, class: 'input-field' %>
        <%= form.label :"Latitude" %>
        <%= form.number_field :origin_latitude, class: 'input-field' %>
        <%= form.label :"Longitude" %>
        <%= form.number_field :origin_longitude, class: 'input-field' %>
        <%= form.label :"Delivery Destination"%>
        <%= form.text_field :delivery_destination, class: 'input-field' %>
        <%= form.label :"Latitude" %>
        <%= form.number_field :destination_latitude, class: 'input-field' %>
        <%= form.label :"Longitude" %>
        <%= form.number_field :destination_longitude, class: 'input-field' %>
        <%= form.label :"Total Weight" %>
        <%= form.text_field :total_weight, class: 'input-field' %>

        <br>
        <br>
        <%= form.submit "Save load", class:"button" %>
      </div>
    </div>
    <div class="row">
      <%= link_to "Show this load", @fms_g16_load %>
      <%= link_to "Back to warehouses", dashboard_loads_page_path %>
    </div>
  </div>

<% end %>
