<%= form_with(model: fms_g16_shipment) do |form| %>
  <% if fms_g16_shipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fms_g16_shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
        <% fms_g16_shipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="order_form">
    <div class="row">
      <div class="order_details">
        <h2>Shipment Details</h2>
        <%= form.label :"Status" %>
        <%= form.select :status, [['Pending', 'pending'],
          ['In Progress', 'in_progress'],
          ['Cancelled', 'cancelled'],
          ['Completed', 'completed']], {}, { class: 'input-field' } %>
        <%= form.label :"Route" %>
        <%= form.collection_select :fms_g16_route_id, @fms_g16_routes, :id, :name, {}, { class: 'input-field' }  %>
        <%= form.label :"Start date"%>
        <%= form.date_field :start_date, class:"input-field" %>
        <%= form.label :"End date"%>
        <%= form.date_field :end_date, class:"input-field" %>
        <%= form.label :"Vehicle"%>
        <%= form.text_field :vehicle, class:"input-field" %>
        <%= form.label :"Driver"%>
        <%= form.text_field :driver, class:"input-field" %>
        <%= form.label :"Total Distance" %>
        <%= form.text_field :total_distance, class: 'input-field' %>
        <%= form.label :"Tracking Code" %>
        <%= form.text_field :tracking_code, class: 'input-field' %>
        <%= form.label :"Total Drive Time" %>
        <%= form.text_field :total_drive_time, class: 'input-field' %>

        <br>
        <br>
        <%= form.submit "Save Shipment", class:"button" %>
      </div>
    </div>
    <div class="row">
      <%= link_to "Show this Shipment", @fms_g16_shipment %>
      <%= link_to "Back to Shipment", dashboard_loads_page_path %>
    </div>
  </div>

<% end %>
