<p style="color: green"><%= notice %></p>
<div class="order_form">
  <h1>Shipment ID: <%= @fms_g16_shipment.id %></h1>
  <h2>Status:<strong><%= @fms_g16_shipment.status %></strong></h2>
  <div class="row">
    <div class="order_details">
      <h4>Load Details</h4>
      <h3>Shipment ID:<strong><%= @fms_g16_shipment.id %></strong></h3>
      <h3>Start Date:<strong><%= @fms_g16_shipment.start_date %></strong></h3>
      <h3>End Date:<strong><%= @fms_g16_shipment.end_date %></strong></h3>
      <h3>Route: <strong><%=  @fms_g16_shipment.fms_g16_route.name %></strong></h3>
      <h3>Total Distance: <strong><%= @fms_g16_shipment.total_distance %></strong></h3>
      <h3>Tracking Code: <strong><%= @fms_g16_shipment.tracking_code %></strong></h3>
      <h3>Total Drive Time: <strong><%= @fms_g16_shipment.total_drive_time %></strong></h3>
      <br>
    </div>
    <div class="order_details">
      <h4>Fleet Information</h4>
      <h3>Vehicle: <strong><%=  @fms_g16_shipment.vehicle %></strong></h3>
      <h3>Driver: <strong><%= @fms_g16_shipment.driver %></strong></h3>
    </div>
  </div>

  <%= render @fms_g16_shipment %>
  <div class="row">
    <%= link_to "Edit this load", edit_fms_g16_shipment_path(@fms_g16_shipment), class:"button"%>
    <%= link_to "Back to loads", dashboard_shipments_page_path, class:"button" %>
    <%= button_to "Destroy this load", @fms_g16_shipment, method: :delete, class:"button" %>
  </div>
  <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Add Load
  </button>

</div>
<div class="loads-table">
  <h2>Loads</h2>
  <table>
    <thead>
    <tr>
      <th>Load ID</th>
      <th>Shipment ID</th>
      <th>Route</th>
      <th>Price</th>
      <th>Fee</th>
      <th>Total Weight</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @fms_g16_loads.each do |load| %>
      <tr>
        <td><%= link_to load.id, fms_g16_load_path(load.id) %></td>
        <td><%= load.fms_g16_shipment.id %></td>
        <td><%= link_to load.fms_g16_route.name, fms_g16_route_path(load.fms_g16_route_id) %></td>
        <td><%= load.total_price %></td>
        <td><%= load.total_fee %></td>
        <td><%= load.total_weight %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<!-- Modal toggle -->

<!-- Main modal -->
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Add Loads
        </h3>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <%= render "fms_g16_loads/form", fms_g16_load: @fms_g16_load %>
      </div>
      <!-- Modal footer -->
      <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button data-modal-hide="default-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Decline</button>
      </div>
    </div>
  </div>
</div>