<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
  <%= csrf_meta_tags %>
  <title>Freight Management System</title>
</head>

<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<div class="container">
  <!-- Sidebar Section -->
  <aside>
    <div class="toggle">
      <div class="logo">
        <img src="<%= asset_path("logo.png") %>" style="width: fit-content;">
        <h2>KARGADA</h2>
      </div>
      <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
      </div>
    </div>

    <div class="sidebar">
      <a href="<%= dashboard_page_path %>" class="<%= (current_page?('/dashboard_page_path')) ? 'active' : '' %>">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
        <h3>Dashboard</h3>
      </a>
      <a href="<%= fms_g16_shipments_path %>"
         class=" <%= (current_page?('/dashboard_shipments') || controller_name == 'fms_g16_shipments') ? 'active' : '' %>">
                    <span class="material-icons-sharp">
                        local_shipping
                    </span>
        <h3>Shipments</h3>
      </a>
      <a href="<%= fms_g16_routes_path %>"
         class=" <%= (current_page?('/dashboard_routes') || controller_name == 'fms_g16_routes') ? 'active' : '' %>">
                      <span class="material-icons-sharp">
                          route
                      </span>
        <h3>Routes</h3>
      </a>
      <a href="<%= fms_g16_loads_path %>" class="<%= (current_page?('/dashboard_loads') || controller_name == 'fms_g16_loads') ? 'active' : '' %>">
                    <span class="material-icons-sharp">
                        inventory_2
                    </span>
        <h3>Loads</h3>
      </a>
      </a>
      <li>

        <%= link_to "Sign out", destroy_path, method: :delete %>
      </li>
    </div>
  </aside>
  <!-- End of Sidebar Section -->

  <!-- Main Content -->
  <main>
    <%= yield %>
  </main>
  <!-- End of Main Content -->

  <!-- Right Section -->
  <div class="right-section">
    <div class="nav">
      <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
      </button>
      <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
        <span class="material-icons-sharp">
                        dark_mode
                    </span>
      </div>

      <div class="profile">
        <div class="info">
          <p>Hey, <b><%= current_fms_g16_user.email %></b></p>
          <small class="text-muted">Admin</small>
        </div>
        <div class="profile-photo">
          <img src="<%= asset_path("profile-2.jpg") %>"/>
        </div>
      </div>

    </div>
    <!-- End of Nav -->

  </div>


</div>

<%= javascript_include_tag("index") %>

</body>

</html>
