

<p style="color: green"><%= notice %></p>
<div class="order_form">
  <h3>Order name:</h3>
  <h1><%= @order.name %></h1>
  <div class="row">
    <div class="order_details">
      <h3>Status:<strong><%= @order.status %></strong></h3>
      <h3>Shipper: <strong><%= @order.shipper %></strong></h3>
      <h3>Consignee: <strong><%= @order.consignee %></strong></h3>
      <h3>Agent:<strong><%= @order.agent %></strong></h3>
    </div>
    <div class="order_details">
      <h3>Expected:<strong><%= @order.status %></strong></h3>
      <h3>Date: <strong><%= @order.date %></strong></h3>
      <h3>Loading Port: <strong><%= @order.loading_port %></strong></h3>
    </div>
  </div>


  <%= render @order %>

</div>
<div class="loads-table">
  <h2>Loads</h2>
  <table>
    <thead>
    <tr>
      <th>Container</th>
      <th>Goods</th>
      <th>Billing On</th>
      <th>Pricing</th>
      <th>Volume</th>
      <th>Weight</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
      <td>Box</td>
      <td>RTX 4090</td>
      <td>Weight</td>
      <td>100.00</td>
      <td>1.00</td>
      <td>1 Kg</td>
      <td>100,000.00</td>
      <td><strong>100,000.00</strong></td>
    </tbody>
  </table>
</div>
<div class="routes-table">
  <h2>Routes</h2>
  <table>
    <thead>
    <tr>
      <th>Operation</th>
      <th>Source Location</th>
      <th>Destination Location</th>
      <th>Transport</th>
      <th>Sale</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="services-table">
  <h2>Services</h2>
  <table>
    <thead>
    <tr>
      <th>Vendor</th>
      <th>Service</th>
      <th>Quantity</th>
      <th>Sale</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="order-tracking-table">
  <h2>Order Tracking</h2>
  <table>
    <thead>
    <tr>
      <th>Source Location</th>
      <th>Destination Location</th>
      <th>Transport</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>