<%= form_with(model: driver) do |form| %>
  <% if driver.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="order_form">
      <div class="row">
        <div class="ordear_details">
          <h2>Shipment Details</h2>
          <%= form.label :"Driver Name" %>
          <%= form.text_field :name, class: 'input-field' %>
          <%= form.label :"License Number" %>
          <%= form.text_field :license_number, class: 'input-field' %>
          <%= form.label :"To Warehouse" %>
          <%= form.collection_select :vehicle_id, @vehicles, :id, :name, {}, { class: 'input-field' }  %>
          <br>
          <br>
          <%= form.submit class:"button" %>
        </div>
      </div>
    </div>

  <% end %>
  <div>
    <%= link_to "Back to drivers", dashboard_drivers_page_path %>

    <%= button_to "Delete this driver", @driver, method: :delete %>
  </div>


