<%= form_with(model: shipment) do |form| %>
  <% if shipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
        <% shipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="order_form">
    <div class="row">
      <div class="order_details">
        <h2>Shipment Details</h2>
        <%= form.label :"Status" %>
        <%= select_tag 'status', options_for_select([['Pending', 'pending'], ['In Progress', 'in_progress'], ['Cancelled', 'cancelled'], ['Completed', 'completed']], params[:status]), class: 'input-field' %>
        <%= form.label :"Shipment_date"%>
        <%= form.date_field :shipment_date, class:"input-field" %>
        <%= form.label :"From Warehouse" %>
        <%= form.collection_select :from_warehouse_id, @warehouses, :id, :name, {}, { class: 'input-field' }  %>
        <%= form.label :"To Warehouse" %>
        <%= form.collection_select :to_warehouse_id, @warehouses, :id, :name, {}, { class: 'input-field' }  %>
        <%= form.label :"Product ID" %>
        <%= form.collection_select :product_id, @products, :id, :name, {}, { class: 'input-field' }  %>
        <%= form.label :"Total Distance" %>
        <%= form.text_field :total_distance, class: 'input-field' %>
        <%= form.label :"Tracking Code" %>
        <%= form.text_field :tracking_code, class: 'input-field' %>
        <%= form.label :"Total Drive Time" %>
        <%= form.text_field :total_drive_time, class: 'input-field' %>
        <%= form.label :"Current Load" %>
        <%= form.text_field :current_load, class: 'input-field' %>

        <br>
        <br>
        <%= form.submit class:"button" %>
      </div>
      <div class="order_details">
        <h2>Fleet Details</h2>
        <%= form.label :"Vehicle" %>
        <%= form.collection_select :vehicle_id, @vehicles, :id, :name, {}, { class: 'input-field' }  %>
        <%= form.label :"Driver" %>
        <%= form.collection_select :driver_id, @drivers, :id, :name, {}, { class: 'input-field' }  %>
      </div>
    </div>
  </div>

<% end %>
<div>
  <%= link_to "Back to shipments", dashboard_shipments_page_path %>

  <%= button_to "Destroy this Shipment", @shipment, method: :delete %>
</div>

